@font-face {
  font-family: "My_font";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "My_font";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}