html, body {
  height: 100%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.wrapper {
  max-width: 1600px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(70px, auto)/1fr;
}

.header {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(80px, auto) auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #43879a;
}
.header__logo {
  background-color: #afa;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-list {
  display: none;
}
@media (min-width: 992px) {
  .header__menu-list {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    list-style: none;
  }
}
.header__link {
  color: #f77;
  margin-left: 50px;
  list-style: none;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}

.main {
  padding: 20px 15px;
  background-color: #faa3f1;
}
@media (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 300px 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

.sidebar {
  background-color: #aaa;
}
.content {
  padding: 20px;
  background-color: #aaa;
}
.gallery {
  margin-bottom: 50px;
}
.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (min-width: 767px) {
  .gallery__item--big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.gallery__item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.products__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}
.products__item {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr minmax(40px, auto);
  padding: 10px;
  background-color: #555;
}
.products__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.products__name {
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 30px;
}
.products__button {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #3377aa;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 5px;
  justify-self: center;
}

.footer {
  background-color: #43fa83;
}