* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "My_font";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "My_font";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
.wrapper {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 50px;
  color: #009;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  border: none;
}

.title {
  color: blue;
  font-size: 62px;
  font-weight: 700;
  line-height: 68px;
}

.subtitle {
  color: darkblue;
  font-size: 28px;
  line-height: 28px;
}

.header {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #239;
}

.promo__title,
.promo__subtitle {
  color: #fff;
}

.promo {
  padding: 0 200px;
  position: relative;
  z-index: 3;
  background-image: url("../img/256.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;
}

.promo__wrap {
  max-width: 1080px;
  margin-bottom: 60px;
}

.promo__title {
  margin-bottom: 10px;
}

.menu ul li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  padding: 120px 0;
  background-color: #aaa;
}

.about__top {
  max-width: 990px;
  margin-bottom: 44px;
}

.about__title {
  margin-bottom: 24px;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: calc(25% - 20px);
  margin-bottom: 30px;
}

.card__img {
  width: 100%;
  height: 420px;
}

.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-flex__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  border: 5px solid yellow;
  margin: 0 0 20px 0;
}
.block-flex__column {
  border: 5px solid blue;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex: 1 1 200px;
      flex: 1 1 200px;
}
.block-flex__item {
  background-color: aqua;
  padding: 50px;
  font-size: 30px;
}

.block-flex__col1 {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.block-flex__col2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.block-flex__col3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}