// @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// .pt-sans-regular {
//   font-family: "PT Sans", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }


// @font-face {
//   font-family: "Roboto-medium";
//   src: url('../fonts/Roboto-Medium.ttf') format("woff2");
//   font-weight: 500;
//   font-display: swap;
// }


@font-face {
  font-family: 'My_font';
  src: url('../fonts/Roboto-Black.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'My_font';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
