html, body {
  height: 100%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height:   100%;
	vertical-align: top;
}


.wrapper {
  max-width: 1600px;  
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(50px, auto) 1fr minmax(70px, auto) / 1fr;
}

.header {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(80px, auto)  auto;
  justify-content: space-between;
  align-items: center;
  background-color: #43879a;

		&__logo {
      background-color: #afa;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
		}

		&__menu {
		}

		&__menu-list {
      display: none;
      @media (min-width:992px) {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        list-style: none;
      }
		}

		&__menu-item {
		}

		&__link {
      color: #f77;
      margin-left: 50px;
      list-style: none;

		}

		&__burger {
      display: none;
      @media (max-width:992px) {
        display: block;
      }
		}
}

.logo {
}

.logo-img {
}

.menu {
}

.main {
  padding: 20px 15px;
  background-color: #faa3f1;
  @media (min-width:992px) {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 10px;
  }
}

.sidebar {
  background-color: #aaa;
  
		&__menu {
		}

		&__list {
		}

		&__link {
		}
}
.content {
  padding: 20px;
  background-color: #aaa;

		&__title {
		}

		&__gallery {
		}

		&__products {
		}
}

.gallery {
  margin-bottom: 50px;

		&__title {
		}

		&__items {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    
		}

		&__item {
			&--big {
      @media (min-width:767px) {
        grid-column: span 2;
        grid-row: span 2;
      }
    
			}
		}

    &__item img {
      max-width: 100%;
      object-fit: cover;
      object-position: center;		
		}
}

.products {

		&__title {

		}

		&__items {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: 1fr;
    
		}

		&__item {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: auto  1fr minmax(40px, auto);

      padding: 10px;

      background-color: #555;
		}

		&__image {
		}

    &__image img{
      max-width: 100%;
      object-fit: cover;
      object-position: center;
		}

		&__name {
      font-size: 20px;
      color: #fff;
      line-height: 1.3;
      margin-bottom: 30px;

		}

		&__button {
      color: #fff;
      letter-spacing: 2px;
      text-decoration: none;
      background-color: #3377aa;
      padding: 0 20px;
      line-height: 40px;
      border-radius: 5px;
      justify-self: center;
		}
}

.footer {
  background-color: #43fa83;

		&__copy {
		}

		&__text {
		}
}


























































