// import =====================
@import "null.scss";
@import "fonts.scss";


// variable =====================
// $fz: 18px;
// $color_1: #000;
// $color_2: #00f;

// template =====================
// %tpl_border {
//   border: 1px solid #000;
// }
// or
// .tpl_border {
//   border: 1px solid #000;
// }
// @extend .tpl_border;

// mixin =====================
// @mixin fontz($f) {
//   font-size: $f;
// }
// .other-clss {
//   @include fontz(100px);
// }

// math =====================
// .any_block {
//   width: 300px / 960px * 100%;
// }

// fonts
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// .pt-sans-regular {
//   font-family: "PT Sans", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

html,
body {
  font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;


}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
}
.hero {
  background-color: #339;

		&__row {
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
		}

		&__body {
      color: #fff;
      padding-right: 30px;
		}

		&__title {
      text-shadow: 1px 1px 0 #000;
      margin-bottom: 38px;
		}

		&__list {
      li {
        font-size: 20px;
        color: red;
        margin-bottom: 10px;
      }
      li:last-child {
        margin-bottom: 0;
        color: cyan;
      }
		}

		&__list-item {
		}

		&__img {
      flex: 0 0 400px;
      img {
        max-width: 100%;
      }
		}
}

.what {
  padding: 50px 0;

  &__row {
    display: flex;

  }

  &__img {
    flex:0 0 400px;
  }

  &__body {
    flex: 1 1 auto;
    padding-right: 40px;
  }

  &__title {
    margin-bottom: 33px;
  }

  &__text {
  }
}
.container {
}
.title {
}





.footer {
  background-color: #888;

		&__row {
      display: flex;
      height: 65px;
      justify-content: center;
      align-items: center;
		}

		&__text {
		}
}











