// import =====================
@import "null.scss";
@import "fonts.scss";


// variable =====================
// $fz: 18px;
// $color_1: #000;
// $color_2: #00f;

// template =====================
// %tpl_border {
//   border: 1px solid #000;
// }
// or
// .tpl_border {
//   border: 1px solid #000;
// }
// @extend .tpl_border;

// mixin =====================
// @mixin fontz($f) {
//   font-size: $f;
// }
// .other-clss {
//   @include fontz(100px);
// }

// math =====================
// .any_block {
//   width: 300px / 960px * 100%;
// }

// fonts
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// .pt-sans-regular {
//   font-family: "PT Sans", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
  
  

body {
  font-family:Arial, Helvetica, sans-serif;
  // min-width: 1080px; fixed
}
  
.wrapper {  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  // width: 1080px;  fixed
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background-color: #5e5;

  &__row {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ee5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu {
    display: flex;
  }
}

.menu {
  display: flex;

  &__icon {
    width: 30px;
    margin: 0 50px;
    background-color: #e5e;
  }

  &__body {
    margin-left: 20px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  &__link {
    display: block;
    width: 100px;
    height: 20px;
    background-color: #ee5;
  }
}
.icon-menu {

}

@media (max-width:767px){
  .menu__body {display: none;}
  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    position: relative;
    z-index: 3;
  }
  .icon-menu span {
    position: absolute;
    background-color: #ee5;
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: '';
    background-color: #ee5;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu.active span {
    transform: scale(0);
  }
  .icon-menu.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .icon-menu.active::after {
    transform: rotate(-45deg);
    top: 9px;
  }
}

.three-block {
  margin: 30px;
}

.three-block__row {
  display: flex;
  gap: 15px;
}

.three-block__column {
  flex: 0 1 33.33333%;
}

.three-block__item {

  
  background-color: #5ee;
}

.three-block__image {
  padding-bottom: 58px;
  background-color: #ee5;
  margin-bottom: 10px;
}

.three-block__text {
  color: #fff;
  line-height: 25px;
}

.two-block {
  margin: 30px;

}

.two-block__row {
  display: flex;
  gap: 10px;
}

.two-block__column {
  flex: 0 1 50%;
}

.two-block__item {

  background-color: #5ee;
}

.two-block__image {
  padding-bottom: 60px;
  background-color: #ee5;
  border-bottom: 10px;
}

.page {
  flex: 1 1 auto;
  padding: 30px 0;
}

.footer {
  background-color: #e5e;
}


@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }

  .three-block__row {
    flex-direction: column;
  }

  .two-block__row {
    flex-direction: column;
  }

  .three-block__column {
    flex: 1 1 100%;
  }
  
  .two-block__column {
    flex: 1 1 100%;
  }
  
}

// transition
// button {
//   padding: 10px;
//   text-align: center;
//   background-color: #99e;
// }
// button {
//   transition-duration: 1s;
//   transition-delay: 100ms;
//   transition-property: all;
//   transition-timing-function: ease;
//   transition: all 1s easy 0.5s;
// }

// button:hover {
//   background-color: #e88;
// }

// animation
// transition
// .cont__logo {
//   height: 500px;
// }
// .logo1 {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100px;
//   height: 100px;
//   border-radius: 30%;
//   background-color: #44a;
//   // animation: logo-move 3s easy 0s infinite ;
//   animation-name: logo-move, spin;
//   animation-duration: 2s;
//   animation-timing-function: ease, linear;
//   animation-iteration-count: infinite;

//   animation-direction: alternate, normal;
//   animation-fill-mode: none;

// }


// @keyframes logo-move {
//   0% {
//     top: 330px;
//   }

//   100% {
//     top: 0px;
//   }
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }

//   50% {
//     transform: rotate(180deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }

  
// }


// .logo2 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100px;
//   height: 100px;
//   border-radius: 30%;
//   background-color: #44a;
//   // animation: logo-move 3s easy 0s infinite ;
//   animation-name: logo-move1;
//   animation-duration: 5s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   animation-delay: 1s;
//   animation-fill-mode: both;
//   animation-timing-function: ease;
// }


// @keyframes logo-move1 {
//   0% {
//     margin-left: 0px;
//     transform: rotate(0deg);
//   }

//   100% {
//     margin-left: 300px;
//     transform: rotate(180deg);
//   }

// }

// image =============================
.page-img {
  width: 100%;
  height: 500px;

  &__three {
    display: flex;
    gap: 10px;
  }

  &__item {
    flex: 0 1 33.3333%;
  }

  &__img {
    // width: 100%;     // 1 variant
    max-width: 100%;    // 2 variant
    // background-image: url("../img/default.png");  //0.3 +-
    // _____
    // object-fit: contain;
    // object-fit: cover;
    // object-fit: fill;
    // object-fit: scale-down;

    object-fit: cover;  // 3 variant
    object-position: center;
  }
}
.source {
  height: 400px;
  background-color: #339;
}

// =========== JS img
// .ibg {
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
// }

// .ibg img {
//   width: 0;
//   height: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   visibility: hidden;
// }


// ========== transform ( el block)
.transform__item1,
.transform__item2,
.transform__item3,
.transform__item4,
.transform__item5,
.transform__item6,
.transform__item7,
.transform__item8 {
  width: 500px;
  height: 100px;
  background-color: #222;
  margin-bottom: 30px;
  transition: all 1s ease 0s;
}

.transform__item1:hover {
  transform: translate(30px, 30px);
}

.transform__item2:hover {
  transform: scale(90%);
}

.transform__item3:hover {
  transform: rotate(360deg);
}

.transform__item4:hover {
  transform: skew(20deg,30deg);
}

.transform__item5 {
  transform-origin: 0 0;
}

.transform__item5:hover {
  transform: rotate(360deg);
}

.section-list li:not(:last-child) {
  margin-bottom: 20px;
}

// grid ==============
//  grid-lines
//  grid-truck
//  grid-cell
//  grid-area
//  grid-items
//

.grid-1 {
  display: grid;
  background-color: #681;
  padding: 30px;

  &__item {
    margin: 10px;
    background: #a39;
  }
}

.grid-2 {
  margin: 20px 0;
  padding: 30px;

  display: grid;
  grid-template-columns: minmax(50px, 180px) 1fr 250px auto;
  // fit-content(200px) == auto (max-with 200)
  // grid-template-rows: repeat(3, 100px);

  background-color: #681;

  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 20px 30px;
  // не явная сетка если больше 2строк
  // grid-auto-rows: 50px; 1-20 2-30 3,4..-50
  // grid-auto-flow: //dense //column //row;

  &__item {
    margin: auto;
    padding: 10px;
    // justify-content: center;
    // align-items: center;
    background: #a39;
  }
}

.grid-item1 {
  grid-column: span 2; // 2 / 4
  grid-row: span 2;
}

.grid-item2 {

}

.grid-item3 {

}


// Единицы измерения
// 1 абсолютные
// 2 относительные

// 1
// px (16px brauser default)
// 

// 2
// em (font-size inherit) 
// rem (font-size in html or brauser)
// % 
// vw
// vh
// vmin
// vmax

.new-class {
  background-color: red;
}

@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}


html {
  scroll-behavior: smooth;
  // scroll-padding-top: 100px;
}

body.scroll-lock {
  overflow: hidden;
}

.block-scroll {
  height: 300px;
  width: 500px;
  margin: 50px auto;

  padding: 20px;
  background-color: #aaa;
  border: 2px solid #5e5;
  overflow:auto;

}

// .menu1 {
//   width: 300px;


//   &__button {
//     width: 100%;
//     display: block;
//     height: 30px;
//     background-color:yellow;
//   }

//   &__list {
//   }

//   &__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: gray;
//     height: 30px;
//     border-bottom: 1px solid #222;

//     &:hover{
//       color: #fff;
//       transition: all 0.3s ease;
//     }
    
//   }
// }

// .hidden1 {
//   display: none;
// }

.menu1 {
  display: inline-block;
}

.menu1._active .menu1__list {
  display: block;
}

.menu1 .menu1__list {
  display: none;
}

.menu1._active .menu1__button span:first-child {
  display: none;
}

.menu1._active .menu1__button span:last-child {
  display: block;
}

.menu1__button span:first-child {
  display: block;
}

.menu1__button span:last-child {
  display: none;
}

.menu1__list {
  background-color: #776088;
  padding: 15px;
}

.menu1__list li:not(:last-child) {
  margin-bottom: 15px;
}

.menu1__link {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.menu1__link:hover {
  color: #888;
}




















