// import =====================
@import "null.scss";
@import "fonts.scss";

// variable =====================
$fz: 18px;
$color_1: #000;
$color_2: #00f;

// template =====================
%tpl_border {
  border: 1px solid #000;
}
// or
// .tpl_border {
//   border: 1px solid #000;
// }
// @extend .tpl_border;

// mixin =====================
@mixin fontz($f) {
  font-size: $f;
}
// .other-clss {
//   @include fontz(100px);
// }

// math =====================
.any_block {
  width: 300px / 960px * 100%;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.other-clss {
  @extend %tpl_border;
}

.other-clss {
  @include fontz(100px);
}

.block {
  font-style: italic;
}

// вложенность 
.block {
  color: red;
  span {
    color: green;
  }
}

.block {

  font-size: $fz;
  color: red;
  span {
    color: green;
    .block__text {
      color: blue;
    }
  }
  
}

.scss-div {
  color: #aa2;
  >.scss-p {
    color: #2aa;
  }
}

.link {
  &:hover {
    color: red;
  }
  &:active {
    text-transform: uppercase;
  }
  &:focus {
    text-decoration: line-through;
  }
}

.cart {


  &__body {
    &::first-letter {
      font-size: 30px;
    }
  }

  &__title {
    font-style: italic;
  }

  &__text {
    font-weight: 700;
    font-family: 'My_font';
  }

  .cart--big {
    font-size: 40px;
    color: #aaa;
  }

  &.cart--big {
    font-size: 20px;
    font-family: 'My_font';
    font-weight: 500;
  }
}

.link-a {
  &:hover {
    display: none;
  }
  .other-class & {
    display: none;
  }
}
















